{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1> Règles du jeu </h1>

    <h2>Description de la partie</h2>

    <p>C'est un jeu de stratégie au tour par tour. Votre but est d'avoir le plus grand élevage de lapins. Vous disposez d’une quantité limitée 
        de ressources, ce qui vous pousse à réfléchir à la manière optimale de les utiliser.</p>
   
    <p>Les ressources que vous aurez à gérer ici sont :</p>

    <ul>
        <li>Nombre de lapins (mâles, femelles, reproduction et vente)</li>
        <li>Quantité de nourriture</li>
        <li>Nombre de cages</li>
        <li>Argent en caisse</li>
    </ul>
    
    <p>À chaque tour, vous pourrez choisir d'effectuer des actions de vente de lapins et d'achat de consommables. 
        Une fois vos actions terminées, vous indiquerez la fin du tour. L'application fera alors avancer le temps 
        d'un mois et appliquera les règles suivantes :
    </p>

    <ul>
        <li>Les femelles atteignent la maturité et peuvent se reproduire à partir de 6 mois et jusqu'à l'âge de 4 ans. La gestation dure 1 mois, et chaque mise bas donne 1 à 4 lapereaux. Elles peuvent être de nouveau gravides quelques jours après avoir mis bas.</li>
        <li>Un lapin devient adulte à 3 mois.</li>
        <li>Alimentation :
            <ul>
                <li>Un adulte consomme 250 g/jour.</li>
                <li>Un lapereau consomme du lait maternel pendant le 1er mois (gratuit, fourni par sa mère), 100 g/jour au 2e mois, 
                    250 g/jour à partir du 3e mois.</li>
                <li>Si un individu manque de nourriture pendant un mois, il meurt.</li>
            </ul>
        </li>
        <li>Les cages :
            <ul>
                <li>La capacité recommandée est de {{ rules.maxPerCage }} individus par cage.</li>
                <li>La capacité maximale possible est de {{ rules.maxPossiblePerCage }} individus par cage.</li>
                <li>Le risque de contamination due à la surpopulation augmente linéairement entre {{ rules.maxPerCage }} et {{ rules.maxPossiblePerCage }} lapins par cage.</li>
            </ul>
        </li>
        <li>Chaque médicament acheté garantit {{ rules.probGuerison}}% de chance de guérison pour un lapin malade.</li>
        <li>Tout lapin malade guérit automatiquement après un mois.</li>
        <li>Chaque lapin malade a une probabilité de {{ rules.probMortContamine}}% de mourir.</li>
        <li>Si un lapin malade est présent, chaque autre lapin a une probabilité de {{ rules.probContamination }}% d’être contaminé par une infection secondaire.</li>
    </ul>

    <a href="{% url 'elevage_home' %}">
        <button>Retour au menu</button>
    </a>
</div>

{% endblock %}