{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Elevage{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'elevage/style.css' %}">
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script>
        function openPopup(id) {
          document.getElementById(id).style.display = "block";
        }
      
        function closePopup(id) {
          document.getElementById(id).style.display = "none";
        }
      </script>
</body>
</html>
