{% extends "base.html" %}

{% block content %}

    <div class="menu-container">
        <h1>Welcome to Raibbing Simulator</h1>
    
        <div class="menu-buttons">
            <a href="{% url 'registration_connexion' %}">
                <button>Me connecter</button>
            </a>
    
            <a href="{% url 'elevage_inscription' %}">
                <button>M'inscrire</button>
            </a>
    
            <a href="{% url 'elevage_nouveau' %}">
                <button>Essayer une partie</button>
            </a>


            <a href = "{% url 'elevage_rules' %}" >
                <button>Règles du jeu</button>
            </a>
        </div>
    </div>

{% endblock %}